<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eljohn" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>TechieProduct</name>
    <description>
       califoripa
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <feature name="Camera">
    <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
	</feature>
    <plugin name="cordova-plugin-whitelist" source="npm" />
	
	<preference name="phonegap-version" value="cli-8.0.0" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	<allow-navigation href="*" />
    <platform name="android">
        <allow-intent href="market:*" /> 
        <icon src="www/res/android/icon/ldpi.png" density="ldpi" />
        <icon src="www/res/android/icon/mdpi.png" density="mdpi" />
        <icon src="www/res/android/icon/hdpi.png" density="hdpi" />
        <icon src="www/res/android/icon/xhdpi.png" density="xhdpi" />
        <icon src="www/res/android/icon/xxhdpi.png" density="xxhdpi" />
        <icon src="www/res/android/icon/xxxhdpi.png" density="xxxhdpi" /> 
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
