div#carousel-1.carousel.slide{
  height:400px;
  width:55%;
  margin-left:auto;
  margin-right:auto;
  background-color:rgb(249,249,249);
  padding-top:10px;
}

#logofooter{
  max-width:150px;
}

img.img-responsive.carousel{
  margin-left:auto;
  margin-right:auto;
  display:block;
}

img#slide_first_image{
  margin-left:auto;
  margin-right:auto;
  display:block;
}

img#slide_second_image{
  margin-left:auto;
  margin-right:auto;
  display:block;
}

div#carousel-1.carousel.slide{
  margin-top:50px;
}

ol#carousel_indicator_one.carousel-indicators{
  margin-top:500px;
}

ol.carousel-indicators{
  color:#fffff;
}

img#logofooter{
  max-width:150px;
}

#bg.row{
  background-color:#292c2f;
}

img#logofooter2{
  max-width:150px;
  max-height:100px;
}

