.breadcrumb{
  text-align:center;
  background-color:transparent;
  border-bottom:1px solid #eee;
  padding-top:12px;
  padding-bottom:12px;
  margin-bottom:40px;
}

nav.navbar.navbar-default{
  margin-bottom:20px;
}

@media (min-width:992px) {
  .product h2{
    margin-top:0;
  }
}

.navbar .navbar-brand{
  font-size:24px;
  line-height:18px;
}

.reviewer-name{
  margin-right:10px;
}

.site-footer{
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:left;
  }
}

.site-footer h5{
  color:inherit;
  font-size:16px;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
}

.btn.write-review{
  float:right;
  margin-top:-6px;
}

#booklogo{
  max-width:50px;
  max-height:30px;
}

#head{
  text-align:center;
}

#am{
  max-width:30px;
}

#room{
  max-width:90%;
  margin:auto;
  margin-top:20px;
  max-height:300px;
}

#logohome{
  height:30px;
  width:60px;
  margin-top:auto;
  margin-bottom:auto;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

#homelogo2{
  max-width:400px;
  display:block;
  margin:auto;
  width:40%;
}

#search.input-lg{
  margin-top:45px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  border-color:black;
  overflow:auto;
}

body{
}

#div1{
  background-image:url(../../assets1/img/Mandarin-Oriental-Hotel-in-Barcelona-Interior-Design-15.jpg);
}

div#cont22.container{
  background-image:url(../../assets1/img/Alfresco-Phuket-Hotel-Download-Alfresco-VIP-SUITE1.jpg);
}

bacjk{
}

div.divkoto{
  background-image:url(../../assets1/img/desktop_backgrounds_website_004.jpg);
  border:2px solid;
  padding:20px;
  width:100%;
  height:1000px;
  resize:both;
  overflow:auto;
  margin-top:20px;
}

#form1{
  max-width:1000px;
  margin:auto;
}

#column.col-md-12{
  max-width:1000px;
  margin:auto;
}

#form{
  max-width:1000px;
  margin:auto;
  border-radius:20px;
}

img{
  width:100%;
  height:300px;
}

img{
  max-height:150px;
}



#img2{
}

div.thumbnail{
  margin-top:20px;
}

button.btn.btn-info{
  margin:0;
  align-content:center;
  align-items:center;
  align-self:center;
}

#bookdiv.row.product{
  background-color:white;
}

#drph.dropdown-toggle{
  color:white;
  border-color:black;
}

select.sort_drop{
  margin-left:140px;
}

