img0logo{
}

#ownerlogo{
  margin-left:auto;
  margin-right:auto;
  display:block;
}

#hotelimg{
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-top:20px;
}

#aboutbtn{
  margin-left:auto;
  margin-right:auto;
  display:block;
}

#btnabout{
  margin-right:auto;
  margin-left:auto;
  display:block;
}

div.jumbotron{
  margin-top:40px;
  background-image:url(../../assets/img/aboutusimg.jpg);
}

#font.text-center{
  color:white;
}

p{
  margin-top:20px;
}

h1#s.text-center{
  color:black;
}

img#roomimg{
  margin-top:20px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

div#roomtable.row.product{
  margin-top:20px;
}

div#roomtext.col-md-7{
  margin-top:20px;
}

p#p.text-center{
  color:white;
}

